* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}


.countries-main{
    background-color: #f1f1f1;
    height: 550px;
    border-top: 1px solid #aca7a7;
    border-bottom: 1px solid #aca7a7;
}

.countries-section{
    padding: 20px;
    text-align: center;
}

.countries-heading{
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}

.countries-list{
   width: 700px;
   margin: 50px auto 50px;
   display: table;
   box-sizing: border-box;
   
}


.row{
    margin: 10px 0;
}


.cc{
    display: table-cell;
    padding: 30px 90px;
    text-align: center;
    
}

.countries-list-name{
    letter-spacing: 2px;
    color: cadetblue;
}

.images{
    width: 150px;
    height: 100px;
}

.grow-body{
    background-color: white
}

.grow-body2{
   display: table;
   padding: 50px;
   text-align: center;
   line-height: 2rem;
}

.growing{
    text-align: center;
    font-weight: bold;
}

.growing-heading{
    font-family: monospace;
    padding: 30px;
    font-size: 25px;
}

.growing-col{
   
    width: 30%;
    line-height: 2rem;
    display: table-cell;
    text-align: center;
}


.grow{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.grow1{
    font-size: 30px;
    color: rgb(189, 61, 61);
    font-weight: bold;
}

.grow2{
    
    width: 50%;
    text-align: center;
    margin-left: 95px;
}


.fake_div_footer {
    border-top: 1px solid grey;
    background: rgb(229, 229, 229);
    padding-left: 120px;
    padding-top: 30px;
}

.top_bus_routes {
    width: 90%;
    padding: 10px 0px 20px;
    margin: 20px;
    border-bottom: 1px solid rgb(104, 95, 95);;
    display: flex;
    justify-content: space-between
}

.design_heading {
    font-size: 17px;
    color:rgb(104, 95, 95);
    padding-bottom: 10px;
    line-height: 20px;

}

div p {
    line-height: 28px;
    color: rgb(104, 95, 95);
}

.top_operation {
    width: 90%;
    padding-left: 18px;
}

.top {
    padding: 5px 0 15px 0;
}

.last {
    text-align: end;
    padding: 5px 0 15px 0;
}
.operation_inside{
    word-spacing: 5px;
    line-height: 25px;
    font-size: 16px;
    color: rgb(104, 95, 95);
}
